@use "../utils/" as u;

html {
  box-sizing: border-box;
  font-family: Inter;
  scroll-behavior: smooth;
  font-size: 100%;
}

/* Default styles */
/* inheritance of from html */

*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}
/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
body {
  min-height: 100vh;
  max-width: 90vw;
  margin-inline: auto;
  letter-spacing: u.rem(2);
}

a {
  text-decoration: none;
}
