@font-face {
  font-family: Inter;
  font-weight: 400;
  src: url("/app/assets/font/Inter-Regular.ttf");
  font-display: swap;
}
@font-face {
  font-family: Inter;
  font-weight: 700;
  src: url("/app/assets/font/Inter-Bold.ttf");
  font-display: swap;
}
@font-face {
  font-family: Inter;
  font-weight: 800;
  src: url("/app/assets/font/Inter-ExtraBold.ttf");
  font-display: swap;
}
