$LimeGreen: hsl(163, 72%, 41%);
$BrightRed: hsl(356, 69%, 56%);
$Facebook: hsl(208, 92%, 53%);
$Twitter: hsl(203, 89%, 53%);
$Instagram: linear gradient hsl(37, 97%, 70%) to hsl(329, 70%, 58%);
$YouTube: hsl(348, 97%, 39%);
// dark theme
$Toggle: linear gradient hsl(210, 78%, 56%) to hsl(146, 68%, 55%);
// light theme
$Toggle: hsl(230, 22%, 74%);

// #### Dark Theme ####
$VeryDarkBlue-BG: hsl(230, 17%, 14%);
$VeryDarkBlue-Top-BGPattern: hsl(232, 19%, 15%);
$Dark-Desaturated-BlueCard-BG: hsl(228, 28%, 20%);
$Desaturated-BlueText: hsl(228, 34%, 66%);
$WhiteText: hsl(0, 0%, 100%);

// #### Light Theme ####
$White-BG: hsl(0, 0%, 100%);
$VeryPaleBlue-Top-BGPattern: hsl(225, 100%, 98%);
$LightGrayishBlue-CardBG: hsl(227, 47%, 96%);
$DarkGrayishBlue-Text: hsl(228, 12%, 44%);
$VeryDarkBlue-Text: hsl(230, 17%, 14%);

// font size
$overview-size: 14px;
